#background {
  width: 10vh;
  height: 10vh;
  /* right: 0; */
  bottom: 0;
  position: fixed;
  right: 0;
}
#pageTitle {
  color: black;
  display: block;
  font-size: 60px;
  margin-top: 30px;
  font-weight: bolder;
  text-align: center;
  font-family: "Comfortaa", cursive;
}
.mainSection,
.background {
  margin-left: 90px;
}
.background {
  /* height: 99vh; */ /* border-radius: 20px; */ /* width: calc(100% - 94px); */
  height: 65px;
  width: 700px;
  margin-top: 2px;
  margin-bottom: 0.5vh;
  border-radius: 100px;
  /* margin-left: 90px; */
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  /* left: 0; */
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  /* animation: spin 8s infinite linear; */
  /* box-shadow: rgba(14, 230, 230, 0.308) 10px 30px 22px 10px; */
  /* box-shadow: rgb(14 230 230) 7px -3px 20px 0px; */
  box-shadow: rgb(14 230 230) 2px -1px 20px 0px;
  transition: all 1.5s cubic-bezier(0.54, 0.1, 0.31, 1.08);
}
.background:active {
  height: 99vh; /*changeThis 100vh*/
  border-radius: 20px;
}

.elements {
  margin-top: 4vh;
  height: 75vh;
  margin-left: 2vh;
  z-index: 10;
  position: fixed;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
body {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
.background:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 20px; /*changeThing, 5%*/
  overflow: hidden;
  backdrop-filter: blur(1em); /*changeThing, 1.2*/
  -webkit-backdrop-filter: blur(2em);
}

.background:after,
.background:after {
  position: absolute;
  content: "";
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  border-radius: 50%;
}

.background div {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  animation: scale-up infinite;
}

@keyframes scale-up {
  50% {
    transform: scale(1.8);
  }
}

.background div:nth-child(1) {
  height: 150%;
  width: 100%;
  background-color: var(--TeensTeachAlt1);
  left: -5%;
  top: 0;
  animation-duration: 50s;
  animation-delay: 8s;
}

.background div:nth-child(2) {
  height: 100%;
  width: 100%;
  background-color: var(--TeensTeachAlt2);
  top: 15%;
  right: -15%;
  animation-duration: 45s;
  animation-delay: 1s;
}

.background div:nth-child(3) {
  height: 100%;
  width: 80%;
  background-color: var(--TeensTeachAlt3);
  bottom: -30%;
  right: -20%;
  animation-duration: 10s;
  animation-delay: 4s;
}

.background div:nth-child(4) {
  height: 50%;
  width: 75%;
  background-color: var(--TeensTeachAlt4);
  bottom: -5%;
  left: 8%;
  animation-duration: 7s;
  animation-delay: 6s;
}

.background div:nth-child(5) {
  height: 45%;
  width: 55%;
  background-color: var(--TeensTeachAlt5);
  top: 50%;
  left: 0;
  animation-duration: 15s;
  animation-delay: 4s;
}

.backShadow {
  width: 80vh;
  height: 80vh;
  background-color: white;
  box-shadow: rgba(14, 230, 230, 0.308) 4px 20px 22px -7px;
  z-index: -1;
  position: absolute;
  margin: auto;
  border-radius: 10000px;
  left: 0;
  top: 0;
  bottom: 0;
  padding-bottom: 40px;
}

.background div:nth-child(6) {
  height: 25%;
  width: 55%;
  background-color: var(--TeensTeachBlue);
  top: 45%;
  left: -15%;
  animation-duration: 9s;
}
.background div:nth-child(7) {
  height: 125%;
  width: 55%;
  background-color: var(--TeensTeachAlt6);
  top: 0;
  z-index: -2;
  left: -15%;
  animation-duration: 5s;
}
.background div:nth-child(8) {
  height: 125%;
  width: 55%;
  background-color: var(--TeensTeachAlt5);
  top: 0;
  z-index: -2;
  right: -5%;
  animation-duration: 5s;
}
.background div:nth-child(9) {
  height: 55%;
  width: 25%;
  background-color: var(--TeensTeachAlt6);
  top: -20%;
  right: 50%;
  animation-duration: 15s;
  animation-delay: 3s;
}
.background div:nth-child(10) {
  height: 25%;
  width: 55%;
  background-color: var(--TeensTeachAlt7);
  top: -10%;
  right: 5%;
  animation-duration: 12s;
}
.background div:nth-child(11) {
  height: 25%;
  width: 55%;
  background-color: var(--TeensTeachAlt8);
  top: -10%;
  z-index: -2;
  right: 55%;
  animation-duration: 7s;
}
.elements div:nth-child(1) {
  transition-duration: all 3s;
}
