body{
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
.smallText {
  font-size: 30px;
  padding: 10px;
  padding-left: 10px;
  color: var(--TeensTeachAlt8);
  /* color: white; */
  /* color: var(--background); */
  /* color: black; */
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  width: fit-content;
}
.tile {
  margin-right: 5%;
  margin-left: 5%;
  width: fit-content;
  height: fit-content;
  background-color: var(--background);
  /* background-color: aliceblue; */
  /* background: radial-gradient(
    circle at -4% -12.9%,
    rgb(74, 98, 110) 0.3%,
    rgb(30, 33, 48) 90.2%
  ); */
  /* background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  ); */
  /* background: linear-gradient(to right, #232526, #414345) */
  border-radius: 10px;
  box-shadow: rgb(27 168 233 / 40%) -5px -2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  margin-bottom: 20px;
  margin-top: 20px;
}
.mainSection {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 99vh;
}
.divContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.largeText {
  font-size: 60px;
  padding: 10px;
  padding-left: 10px;
  color: var(--TeensTeachAlt8);
  /* color: white; */
  /* color: var(--background); */
  /* color: black; */
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  width: fit-content;
}
.nameClass {
  font-size: 20px;
  padding: 10px;
  padding-left: 10px;
  color: var(--TeensTeachAlt8);
  /* color: white; */
  /* color: var(--background); */
  /* color: black; */
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  width: fit-content;
}
hr {
  width: 95%;
  border: 1px solid grey;
}
.descriptionClass {
  font-size: 20px;
  padding: 10px;
  padding-left: 10px;
  /* color: var(--TeensTeachAlt8); */
  color: grey;
  /* color: var(--background); */
  /* color: black; */
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  width: fit-content;
}
.impactWrap {
  overflow-y: scroll;
}
.mainWrap {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  height: 99vh;
  flex-wrap: wrap;
  margin-left: 10%;
  justify-content: space-around;
  padding-right: 5%;
}
.wrapContainer {
  width: fit-content;
  flex-basis: 30%;
}
.wrapTile {
  width: 41vw;
  height: 140px;
  background-color: var(--background);
  /* background-color: aliceblue; */
  /* background: radial-gradient(
    circle at -4% -12.9%,
    rgb(74, 98, 110) 0.3%,
    rgb(30, 33, 48) 90.2%
  ); */
  /* background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  ); */
  /* background: linear-gradient(to right, #232526, #414345) */
  border-radius: 10px;
  box-shadow: rgb(27 168 233 / 40%) -5px -2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}
.impactText {
  font-size: 60px;
  padding: 10px;
  color: var(--TeensTeachAlt8);
  /* color: white;/ */
  /* color: grey; */
  /* color: var(--background); */
  /* color: black; */
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
