.navbar {
  position: fixed;
  bottom: 0;
  /* background-color: blue; */
  width: 80px;
  margin: auto;
  right: 0;
  left: 0;
}
#navContainer {
  width: 80px;
  height: 80px;
  /* right: 0; */
  bottom: 0;
  position: fixed;
  right: 0;
}
#navImage {
  width: 50px;
  height: 50px;
}

#study_div img,
#forum_div img {
  width: 44px;
  height: 44px;
}

/* .navContainer {
  height: 82px; /*changeThis 100vh
  width: 200px;
  margin-left: 4px;
  margin-bottom: 4px;
  position: absolute;
  /* margin: auto; 
   left: 0; 
  left: 0;
  bottom: 0;
  border-radius: 100px;
  overflow: hidden;
  animation: spin 8s infinite linear; 
  box-shadow: rgba(14, 230, 230, 0.308) 10px 30px 22px 10px;
  box-shadow: rgb(14 230 230) 7px -3px 20px 0px;
  box-shadow: rgb(14 230 230) 2px -1px 20px 0px;
  z-index: 3;
  transition: all 1.5s cubic-bezier(0.54, 0.1, 0.31, 1.08);
} */

html {
  overflow-y: scroll;
}
.firstElements,
.lastElements {
  display: flex;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
}
.widgetContainer {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: center;
  bottom: 0;
  position: fixed;
}
.firstElements a img,
.lastElements a img {
  width: 50px;
  height: 50px;
  margin: auto;
}
.firstElements a,
.lastElements a {
  width: max-content;
  height: 56px;
  width: 55px;
  background-color: rgba(0, 175, 255, 0.1);
  /* background-color: white; */
  border-radius: 100px;
  margin-left: 3px;
  margin-right: 3px;

  display: flex;
  flex-direction: row;

  /* box-shadow: rgba(29, 199, 233, 0.85) 0px 30px 60px -12px inset,
    rgba(65, 15, 15, 0.3) 0px 18px 36px -18px inset; */

  /* box-shadow: rgba(29, 199, 233, 0.85) -16px -19px 13px -12px inset,
    rgba(255, 255, 255, 0.972) 0px 18px 36px -18px inset; */

  /* box-shadow: rgba(50, 81, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */

  box-shadow: rgba(50, 81, 93, 0.25) 2px 2px 9px 4px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  /* box-shadow: rgba(29, 199, 233, 0.85) 4px -4px 8px 2px inset,
    rgba(65, 15, 15, 0.3) 0px 18px 36px -18px inset; */

  /* box-shadow: rgba(29, 199, 233, 0.85) 7px -6px 9px 0px inset,
    rgba(65, 15, 15, 0.3) 0px 18px 36px -18px inset; */

  /* box-shadow: rgba(29, 199, 233, 0.85) -2px 1px 7px 1px inset,
    rgba(65, 15, 15, 0.3) 0px 18px 36px -18px inset; */
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.frontContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.frontPage {
  width: 700px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  position: fixed;
  z-index: 10;
}
.frontPage div {
  justify-content: space-between;
}
/* .navContainer:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10%; /*changeThing, 5%
  overflow: hidden;
  backdrop-filter: blur(0.9em); /*changeThing, 1.2
  -webkit-backdrop-filter: blur(0.9em);
} */

/* .navContainer:after,
.navContainer:after {
  position: absolute;
  content: "";
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  border-radius: 50%;
} */

/* .navContainer div {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  animation: scale-up infinite;
} */

@keyframes scale-up {
  50% {
    transform: scale(1.8);
  }
}

.customWidget {
  width: max-content;
  display: flex;
  background-color: var(--background);
  box-shadow: rgba(73, 71, 71, 0.25) 2px 2px 9px 4px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 100px;
  font-family: "Comfortaa", cursive;
  font-size: 10px;
  position: fixed;
  margin-top: 10px;
  margin-bottom: 4px;
  z-index: 10;
  bottom: 0;
}
.option h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}
.option h1:hover {
  cursor: pointer;
}
#sloganButton {
  background-color: var(--TeensTeachBlue);
  border-radius: 100px;
}
.navContainer div:nth-child(1) {
  height: 150%;
  width: 100%;
  background-color: var(--TeensTeachAlt1);
  left: -5%;
  top: 0;
  animation-duration: 50s;
  animation-delay: 1s;
}

.navContainer div:nth-child(2) {
  height: 100%;
  width: 100%;
  background-color: var(--TeensTeachAlt2);
  top: 15%;
  right: -15%;
  animation-duration: 45s;
  animation-delay: 5s;
}

.navContainer div:nth-child(3) {
  height: 100%;
  width: 80%;
  background-color: var(--TeensTeachAlt3);
  bottom: -30%;
  right: -20%;
  animation-duration: 10s;
  animation-delay: 1s;
}

.navContainer div:nth-child(4) {
  height: 50%;
  width: 75%;
  background-color: var(--TeensTeachAlt4);
  bottom: -5%;
  left: 8%;
  animation-duration: 7s;
  animation-delay: 6s;
}

.navContainer div:nth-child(5) {
  height: 45%;
  width: 55%;
  background-color: var(--TeensTeachAlt5);
  top: 50%;
  left: 0;
  animation-duration: 2.5s;
  animation-delay: 4s;
}

.backShadow {
  width: 80vh;
  height: 80vh;
  background-color: white;
  box-shadow: rgba(14, 230, 230, 0.308) 4px 20px 22px -7px;
  z-index: -1;
  position: absolute;
  margin: auto;
  border-radius: 10000px;
  left: 0;
  top: 0;
  bottom: 0;
  padding-bottom: 40px;
}

.navContainer div:nth-child(6) {
  height: 25%;
  width: 55%;
  background-color: var(--TeensTeachBlue);
  top: 45%;
  left: -15%;
  animation-duration: 9s;
}
.navContainer div:nth-child(7) {
  height: 125%;
  width: 55%;
  background-color: var(--TeensTeachAlt6);
  top: 0;
  z-index: -2;
  left: -15%;
  animation-duration: 5s;
}
.navContainer div:nth-child(8) {
  height: 125%;
  width: 55%;
  background-color: var(--TeensTeachAlt5);
  top: 0;
  z-index: -2;
  right: -5%;
  animation-duration: 5s;
}
.navContainer div:nth-child(9) {
  height: 55%;
  width: 25%;
  background-color: var(--TeensTeachAlt6);
  top: -20%;
  right: 50%;
  animation-duration: 15s;
  animation-delay: 3s;
}
.navContainer div:nth-child(10) {
  height: 25%;
  width: 55%;
  background-color: var(--TeensTeachAlt7);
  top: -10%;
  right: 5%;
  animation-duration: 12s;
}
.navContainer div:nth-child(11) {
  height: 25%;
  width: 55%;
  background-color: var(--TeensTeachAlt8);
  top: -10%;
  z-index: -2;
  right: 55%;
  animation-duration: 7s;
}
.elements div:nth-child(1) {
  transition-duration: all 3s;
}
#backgroundText h1 {
  text-orientation: upright;
  writing-mode: vertical-rl;
  height: 89vh;
  width: 80px;
  margin-left: -12px;
  color: var(--TeensTeachBlue);
  font-size: 6vh;
  text-align: center;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
}
#backgroundText {
  position: absolute;
  z-index: -2px;
}
#mission_div img {
  width: 38px;
  height: 38px;
  /* padding-bottom: 5px; */
}
@media only screen and (max-width: 700px) {
  #mainImage {
    width: 30vh;
    height: 30vh;
    margin-left: 35%;
  }
  #home_div img {
    width: 28px;
    height: 28px;
  }
  #forum_div img {
    width: 28px;
    height: 28px;
  }
  #study_div img {
    width: 28px;
    height: 28px;
  }
  #community_div img {
    width: 28px;
    height: 28px;
  }
  #mission_div img {
    width: 28px;
    height: 28px;
  }
  #account_div img {
    width: 28px;
    height: 28px;
  }

  #account_div {
    width: 38px;
    height: 38px;
  }
  #home_div {
    width: 38px;
    height: 38px;
  }
  #forum_div {
    width: 38px;
    height: 38px;
  }
  #study_div {
    width: 38px;
    height: 38px;
  }
  #community_div {
    width: 38px;
    height: 38px;
  }
  #mission_div {
    width: 38px;
    height: 38px;
  }
  .background {
    width: 99vw;
    height: 45px;
  }
  .frontPage div a {
    margin: 2px;
  }
  .frontPage {
    margin-top: 3px;
  }
  .backShadow {
    width: 35vh;
    height: 35vh;
    margin-left: 31%;
  }
  #backgroundText h1 {
    margin-left: -20px;
  }
  .navContainer {
    width: 72px;
    height: 72px;
  }
  #navImage {
    width: 60px;
    height: 60px;
  }
  #slogan {
    margin-top: 10px;
    top: 0;
    margin-left: 65px;
  }
  .elements {
    margin-left: 16px;
  }
  .elements a {
    height: 50px;
    width: 50px;
  }
  .elements a img {
    width: 50px;
    height: 50px;
  }
  .lastElements img {
    width: 15px;
  }
  .descriptionClass {
    font-size: 15px;
  }
  #pageTitle {
    font-size: 40px;
  }
  #title {
    font-size: 8px;
    width: 40px;
    margin-top: 5px;
    margin-left: 10px;
    opacity: 1;
  }
  .frontPage {
    width: 100vw;
  }
  .widgetContainer h1 {
    font-size: 15px;
  }
  .widgetContainer {
    height: 15px;
  }
  #navImage {
    width: 40px;
    height: 40px;
  }
}
